<% provide(:title, "about") %>
<div class="center jumbotron">
<h1 class="center">About Us</h1>
<h2>
	<p>Find me in app/views/pages/about_us.html.erb</p>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails
Tutorial</a>
sample application.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btnprimary" %>
</div>

<div class="jumbotron">
	<h1>Who We Are</h1>
	<pre>Astream is your go-to destination for exceptional online web services. We are a team of passionate experts, dedicated to crafting cutting-edge solutions that empower businesses and individuals to succeed in the digital world.
From web design and development to digital marketing and cloud hosting, we have the expertise and experience to make a meaningful impact on your online success. Let's collaborate and bring your digital version to life.</pre>
</div>

<div class="jumbotron">
	<h1>Our Mission</h1>
	<pre>Astream is your go-to destination for exceptional online web services. We are a team of passionate experts, dedicated to crafting cutting-edge solutions that empower businesses and individuals to succeed in the digital world.
From web design and development to digital marketing and cloud hosting, we have the expertise and experience to make a meaningful impact on your online success. Let's collaborate and bring your digital version to life.</pre>
</div>

<div class="jumbotron">
	<h1>Our Vision</h1>
	<pre>Astream is your go-to destination for exceptional online web services. We are a team of passionate experts, dedicated to crafting cutting-edge solutions that empower businesses and individuals to succeed in the digital world.
From web design and development to digital marketing and cloud hosting, we have the expertise and experience to make a meaningful impact on your online success. Let's collaborate and bring your digital version to life.</pre>
</div>

<div class="jumbotron">
	<h1>Portfolio</h1>
	<pre>Astream is your go-to destination for exceptional online web services. We are a team of passionate experts, dedicated to crafting cutting-edge solutions that empower businesses and individuals to succeed in the digital world.
From web design and development to digital marketing and cloud hosting, we have the expertise and experience to make a meaningful impact on your online success. Let's collaborate and bring your digital version to life.</pre>
</div>
